.nav-link.text-white:hover {
  color: #ffc107 !important; /* Amarillo tipo Bootstrap warning */
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}


.encabezado-con-fondo {
    background-image: url('../img/fondo-encabezado.png'); /* Cambia la ruta y nombre si es necesario */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid #0dcaf0; /* línea decorativa opcional */
}

.html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

